<section class="about">
    <app-title [title]="title.getTitle()"></app-title>
    <!-- <p>Estudiante avanzado de analista en sistemas con preferencia por el backend. Experiencia en desarrollo de aplicaciones Web. Me gusta construir soluciones escalables y eficientes.</p>
    <p>Soy un analista de sistemas en formación, apasionado por el desarrollo backend. Con base en Argentina, me encanta sumergirme en nuevos desafíos y aprender tecnologías emergentes. Mi experiencia se centra en la construcción de aplicaciones web robustas y escalables, utilizando un conjunto de herramientas y lenguajes que me permiten crear soluciones personalizadas y eficientes. Soy un autodidacta rápido y me gusta estar al día con las últimas tendencias en el desarrollo de software.</p>
    <p>Con una sólida base en desarrollo backend, he trabajado en diversos proyectos que abarcan desde pequeñas aplicaciones hasta sistemas más complejos. Mi experiencia incluye el diseño y desarrollo de APIs RESTful, la implementación de bases de datos relacionales y NoSQL, y la optimización del rendimiento de aplicaciones. Actualmente estoy enfocado en explorar nuevas tecnologías como [menciona alguna tecnología que estés aprendiendo].</p>
    <p>Estoy constantemente buscando oportunidades para mejorar mis habilidades y crecer profesionalmente.</p> -->

    <article class="body">
        <p>Soy un estudiante avanzado en analista de sistemas con una inclinación hacia el desarrollo backend. Tengo experiencia en la creación de aplicaciones web, donde disfruto construyendo soluciones escalables y eficientes.</p>

        <p>Desde Argentina, me apasiona enfrentar nuevos desafíos y aprender sobre tecnologías emergentes. Con un enfoque autodidacta, he desarrollado habilidades en la construcción de aplicaciones web robustas y escalables, utilizando un conjunto diverso de herramientas y lenguajes que me permiten diseñar soluciones personalizadas. Mantenerme al día con las últimas tendencias en el desarrollo de software es algo que me motiva constantemente.</p>

        <p>Mi experiencia en backend incluye la participación en proyectos variados, desde pequeñas aplicaciones hasta sistemas más complejos. He trabajado en el diseño y desarrollo de APIs RESTful, implementado bases de datos, y optimizado el rendimiento de aplicaciones.</p>

        <p>Estoy en busca de oportunidades para mejorar mis habilidades y crecer profesionalmente.</p>
    </article>
</section>