.about{
    display: grid;
    gap: 1rem;
}
.body{
    display: grid;
    /* justify-items: start; */
    gap: 1rem;
}
/* .body > p{
    width: 90%;
    background-color: var(--bgColor);
    padding: .5rem;
    border-radius: var(--borderrMid);
}
.body > p:nth-child(even){
    justify-self: end;
} */