@if (link()) {
    @if (isRouterLink()) {
        <a class="btn cursor" [routerLink]="link()">
            @if (icon()!='') {
                <mat-icon [fontIcon]="icon()"></mat-icon>
            }
            <span>{{text()}}</span>
        </a>
    }@else {
        @if (isPdf()) {
            <a class="btn cursor" [href]="link()"  download="cv_stockmanns-kevin.pdf">
                @if (icon()!='') {
                    <mat-icon [fontIcon]="icon()"></mat-icon>
                }
                <span>{{text()}}</span>
            </a>
        }@else {
            <a class="btn cursor" [href]="link()" target="_blank">
                @if (icon()!='') {
                    <mat-icon [fontIcon]="icon()"></mat-icon>
                }
                <span>{{text()}}</span>
            </a>
        }
    }
}@else {
    <button class="btn cursor">
        @if (icon()!='') {
            <mat-icon [fontIcon]="icon()"></mat-icon>
        }
        <span>{{text()}}</span>
    </button>
}