@if (loading()) {
    <loader [global]="true"></loader>
}
<section class="project">
    <div class="header-bg" [ngStyle]="{'background-image': 'url(' + project?.poster + ')'}">
        <article class="header container">
            <div class="img-container">
                <img [src]="project?.poster" alt="Foto del proyecto" [style]="'view-transition-name: project-img-'+project?.id+';'">
            </div>
            <div class="header-text" [style]="'view-transition-name: project-header-'+project?.id">
                <h1 class="title">{{project?.title}}</h1>
                <status [status]="project?.status"></status>
                <div class="techs">
                    @for (t of techs; track t.id) {
                        <tech-item [tech]="t"></tech-item>
                    }
                </div>
                <p class="overview">{{project?.overview}}</p>
                <div class="links">
                    @if (project?.page) {
                        <app-button icon="link" text="Visitar Página" [link]="project?.page"></app-button>
                    }
                    @if (project?.repository) {
                        <app-button icon="code" text="Ver Repositorio" [link]="project?.repository"></app-button>
                    }
                    @if (!project?.page && !project?.repository) {
                        <div class="no-link">
                            <mat-icon fontIcon="info"></mat-icon>
                            @if (project?.status == 'En Desarrollo') {
                                <span>Este proyecto se encuentra en desarrollo y no hay repositorio público.</span>
                            }
                            @if (project?.status == 'Finalizado' || project?.status == 'Terminado') {
                                <span>Este proyecto está {{project?.status | lowercase}} pero no tiene enlaces públicos.</span>
                            }
                        </div>
                    }
                </div>
            </div>
        </article>
    </div>
    <div class="body-container container">
        <article class="body" [innerHTML]="project?.content">
        
        </article>
    </div>
</section>