<section class="project">
    <div class="header-bg" [ngStyle]="{'background-image': 'url(' + project?.poster + ')'}">
        <article class="header container">
            <div class="img-container">
                <img [src]="project?.poster" alt="Foto del proyecto" [style]="'view-transition-name: project-img-'+project?.id+';'">
            </div>
            <div class="header-text" [style]="'view-transition-name: project-header-'+project?.id">
                <h1 class="title">{{project?.title}}</h1>
                <div class="techs">
                    @for (t of techs; track t.id) {
                        <tech-item [tech]="t"></tech-item>
                    }
                </div>
                <p class="overview">{{project?.overview}}</p>
                <div class="links">
                    @if (project?.page) {
                        <app-button icon="link" text="Visitar Página" [link]="project?.page"></app-button>
                    }
                    @if (project?.repository) {
                        <app-button icon="code" text="Ver Repositorio" [link]="project?.repository"></app-button>
                    }
                </div>
            </div>
        </article>
    </div>
    <div class="body-container container">
        <article class="body" [innerHTML]="project?.content">
        
        </article>
    </div>
</section>