.header-bg{
    width: 100%;
    position: relative;
    background-color: var(--bgCardColor);
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}
.header::before{
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1rem);
}
.header{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    align-content: end;
    /* background-color: red; */
}
.img-container{
    position: relative;
    display: grid;
    place-items: center;
    padding: .5rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
}
.img-container img{
    border-radius: inherit;
}
.header-text{
    position: relative;
    align-self: end;
    justify-self: start;
    display: grid;
    gap: .5rem;
    padding: 3rem 1rem 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
    transition: var(--transitionMid);
}
@media screen and (min-width:450px) {
    .header-text{
        padding: 1rem;
    }
}
.header status{
    top: 1rem;
    right: 1rem;
}
.title{
    font-size: 2rem;
}
.techs{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.links{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.no-link{
    grid-column: 1 / -1;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .8rem;
    color: var(--yellowColor);
}
.no-link mat-icon{
    display: grid;
    color: inherit;
    font-size: 1rem;
    /* align-self: center; */
    /* transform: scale(.8); */
}
.no-link mat-icon::before{
    align-self: center;
}
.body{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
}
article.body a, article.body a:visited{
    color: var(--mainColor);
}


@media screen and (min-width: 700px) {
    .header{
        grid-auto-flow: column;
        grid-template-columns: minmax(300px, 1fr) 2fr;
        min-height: 65vh;
    }
    .links{
        grid-auto-flow: column;
    }
    .no-link{
        gap: 0;
    }
}