<section class="profile">
    <article class="header">
        <img src="images/profile.svg" alt="Foto de perfil">
        <p class="name title">Stockmanns, Kevin</p>
        <div class="job box-shadow">Fullstack Developer</div>
        <div class="socials-media">

        </div>
    </article>
    <article class="body">
        <div class="body-item education">
            <span class="box-shadow"><mat-icon fontIcon="school"></mat-icon></span>
            <span>Educación</span>
            <span>Estudiante de Analista en Sistemas</span>
        </div>
        <!-- <div class="body-item birthday">
            <span class="box-shadow">
                <mat-icon fontIcon="event"></mat-icon>
            </span>
            <span>Nacimiento</span>
            <span>27 de Marzo del 2002</span>
        </div> -->
        <div class="body-item location">
            <span class="box-shadow">
                <mat-icon fontIcon="location_on"></mat-icon>
            </span>
            <span>Ubicación</span>
            <span>Misiones, Argentina</span>
        </div>
        <div class="body-item mail">
            <span class="box-shadow">
                <mat-icon fontIcon="mail"></mat-icon>
            </span>
            <span>Correo</span>
            <span>{{'stockmannskevin@gmail.com'}}</span>
        </div>
    </article>
    <article class="footer">
        <app-button text="Contactar" icon="send" link="/contact"></app-button>
        <app-button icon="cloud_download" text="Descargar CV" link="pdf/cv_stockmanns-kevin.pdf"></app-button>
    </article>
</section>