:root{
    --mainColor: #2378e9;

    --textColor: #ddd;
    --textColorAlpha: #ddd5;
    --textLightColor: #888;
    --textLightColorAlpha: #8883;
    --bgColor: #111;
    --bgCardColor: #222;
    --bgCardColorAlpha: #2228;

    --errorColor: hsl(0, 84%, 63%);
    --greenColor: hsl(151, 64%, 63%);
    --yellowColor: hsl(60, 44%, 63%);

    --headerHeight: 60px;

    --borderrLow: .2rem;
    --borderrMid: .5rem;
    --borderrHigh: 1rem;

    --maxWidth: 1200px;

    --transitionMid : .5s;
    --zIndex:1000;
}


*,*::after, *::before{
    box-sizing: border-box;
}
*::selection{
    background-color: var(--mainColor);
    color: var(--textColor);
}
a{
    text-decoration: none;
    text-transform: none;
    color: var(--mainColor);
}
html,body{
    background: var(--bgColor);
    color: var(--textLightColor);
}
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5{
    margin: 0;
    line-height: 1;
    color: var(--textColor);
}
img{
    max-width: 100%;
    width: 100%;
}
p{
    margin: 0;
    line-height: 1.5;
}
mat-icon.mat-icon{
    color: var(--textLightColor);
}


.box-shadow{
    box-shadow: 0 0 5px 0 var(--textLightColorAlpha);
}
.container{
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: var(--maxWidth);
}
.cursor{
    cursor: default;
}
.title{
    color: var(--textColor);
}


@media screen and (min-width: 500px) {
    .cursor{
        cursor: pointer;
    }
}