:host{
    position: sticky;
    top: 1rem;
    z-index: var(--zIndex);
}
nav{
    display: grid;
    grid-template-columns: repeat(4, minmax(55px, 80px));
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    font-size: .9rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
    box-shadow: 0px 0px 10px var(--textColorAlpha);
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    /* width: 5rem; */
    height: 5rem;
    border-radius: inherit;
    background-color: var(--bgColor);
}
.link{
    text-decoration: none;
    color: var(--textColorLight);
}



@media screen and (min-width:800px) {
    nav{
        grid-template-columns: 80px;
        box-shadow: none;
        gap: 1rem;
    }
    .link{
        font-size: 1rem;
    }
}