:host{
    position: sticky;
    top: 1rem;
    z-index: var(--zIndex);
}
nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 5rem;
    height: 5rem;
    border-radius: inherit;
    background-color: var(--bgColor);
}
.link{
    text-decoration: none;
    color: var(--textColorLight);
}



@media screen and (min-width:800px) {
    nav{
        flex-direction: column;
        justify-content: flex-start;
    }
}